/* ini file css */
main {
    padding: 32px;
}

.Main-Title {
    text-align: center;
}

.main-Introduction {
    background-color: aliceblue;
    padding: 16px;
    border-radius: 10px;
}

textarea {
    width: 75%;
    height: 40px;
    resize: none;
    border: 2px solid lightcoral;
    border-radius: 4px;
    padding: 4px;
}

h4 {
    margin-bottom: 10px;
}

.Formula-suhu {
    font-style: italic;
}

.Formula-suhu>sub {
    font-style: normal;
}

.Penjelasan {
    padding-right: 100px;
    font-size: 14px;
}

.container-button {
    padding-top: 8px;
}

#button-convert {
    margin-inline: 2px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    padding: 8px;
}

#button-reset {
    margin-inline: 2px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    padding: 8px;
}

#button-reverse {
    margin-inline: 2px;
    background-color: goldenrod;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    padding: 8px;
}